<template>
    <div class="row">
      <Stock v-for="stock in stocks" :stock="stock"></Stock>
    </div>
</template>

<script>
import Stock from "./Stock.vue";
import {mapGetters} from 'vuex';

export default {
  name: "Portfolio",
  components:{
    Stock
  },
  computed: {
    // another way of getting getters is using mapGetters,
    // mapGetters converts store getters into local computed values
    ...mapGetters({
      stocks: "stockPortfolio" // you can use object to give getters local name, or array to stick with getters name
    }),
  },
  data(){
    return {
      // stocks: this.$store.getters.stockPortfolio
    }
  },

}
</script>

<style scoped>

</style>