<template>
  <div class="col-sm-6 col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"> {{ stock.name }} <small>(Price: {{stock.price}} | Quantity: {{stock.quantity}} )</small></h3>
      </div>
      <div class="panel-body">
        <div class="pull-left">
          <input type="number" class="form-control" v-model="quantity" placeholder="Quantity">
        </div>
        <div class="pull-right">
          <button class="btn btn-info" :disabled="this.quantity <= 0 || this.quantity > this.stock.quantity" @click="sell">Sell</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  name: "Stock",
  props: ['stock'],
  data() {
    return {
      quantity: 0,
    }
  },
  methods: {
    // another way of dispatching is using mapActions,
    // mapActions converts store actions into local methods
    ...mapActions([
        'sellStock' // this sell stock is an action defied in a store module,
    ]),
    sell() {
      const order = {
        stockId: this.stock.id,
        stockPrice: this.stock.price,
        quantity: this.quantity
      }
      this.sellStock(order);

    }
  },
}
</script>

<style scoped>

</style>