<template>
  <div class="row">
      <Stock v-for="stock in stocks" :stock="stock"></Stock>
  </div>
</template>

<script>
import Stock from "./Stock.vue";
export default {
  name: "Stocks",
  components: {Stock},
  // computed: {
  //   stocks() {
  //     return this.$store.getters.stocks
  //   }
  // },
  data() {
    return {
      stocks : this.$store.getters.stocks
    }
  },
  // mounted() {
  //   this.stocks = this.$store.getters.stocks
  // }
}
</script>

<style scoped>

</style>