<template>
  <div class="col-sm-6 col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"> {{ stock.name }} <small>(Price: {{stock.price}} )</small></h3>
      </div>
      <div class="panel-body">
        <div class="pull-left">
          <input type="number" class="form-control" v-model="quantity"
                 placeholder="Quantity"
                 :class="{danger: insufficientFunds}"
          >
        </div>
        <div class="pull-right">
          <button class="btn btn-success" :disabled="insufficientFunds" @click="buyStock">Buy</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "Stock",
  props: {
    stock: {
      type: Object
    }
  },
  computed: {
    funds(){
      return this.$store.getters.funds;
    },
    insufficientFunds(){
      return this.quantity <= 0 || ((this.quantity * this.stock.price) > this.funds );
    }
  },
  methods: {
    buyStock(){
      const order = {
        stockId: this.stock.id,
        stockPrice: this.stock.price,
        quantity: this.quantity
      }
      this.$store.dispatch('buyStock', order)
      this.quantity = 0;

    }
  },
  data(){
    return {
      quantity: 0
    }
  },

}
</script>

<style scoped>

  /*.danger{*/
  /*  border: 1px solid red;*/
  /*}*/

</style>