<template>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
<!--        <a class="navbar-brand" href="#">Stock trader</a>-->
        <router-link to="/" class="navbar-brand" >Stock trader</router-link>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <router-link to="/portfolio" tag="li" active-class="active"><a >Portfolio</a></router-link>
          <router-link to="/stocks" tag="li" active-class="active" ><a >Stocks</a></router-link>
        </ul>
        <strong class="navbar-text navbar-right">Funds: {{ funds | currency }}</strong>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" @click.prevent="endDay">End day</a></li>
          <li
              class="dropdown" :class="{'open': isDropdownOpen}"
              @click.prevent="isDropdownOpen = !isDropdownOpen"
          >
            <a href="#" class="dropdown-toggle"
               data-toggle="dropdown"
               role="button"
               aria-haspopup="true"
               aria-expanded="false">
              Save & Load <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#" @click.prevent="saveData">Save data</a></li>
              <li><a href="#" @click.prevent="loadData">Load data</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import {loadData} from "../store/actions";

export default {
  name: "Header",
  data() {
    return {
      isDropdownOpen: false
    }
  },
  computed: {
    ...mapGetters([
        "funds"
    ])
  },
  methods: {
    ...mapActions({
      randomizeStocks: 'randomizeStocks',
      loadDataAction: 'loadData'
    }),
    endDay() {
      this.randomizeStocks();
    },
    saveData() {
      const data = {
        funds: this.$store.getters.funds,
        stockPortfolio: this.$store.getters.stockPortfolio,
        stocks: this.$store.getters.stocks,
      }
       this.$http.put('data.json', data);
    },
    loadData(){
      this.loadDataAction()
    }
  }
}
</script>

<style scoped>

</style>