<template>
  <div>
    <h1>Trade or view your portfolio </h1>
    <h6>You may Save & Load your Data</h6>
    <h6>Click on 'End Day' to begin a new day</h6>
    <hr>
    <p >Your funds <span class="text-info">{{ funds | currency}}</span> </p>
  </div>
</template>

<script>

import {mapGetters} from "vuex";

export default {
  name: "Home",
  computed: {
    ...mapGetters([
        'funds'
    ])
  }
}
</script>

<style scoped>

</style>